/*GLOBAL-------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
    /*to make the sizing of boxes more tidy*/
    box-sizing: border-box;
}

html{
    font-family: "Gill Sans", Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    font-size: 40px;
    color: #222222;
}

p{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    font-size: 16px;
    color: #222222;
    line-height: 1.6;
    cursor: default;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #222222;
}

body{
    background: radial-gradient(circle,
    rgb(75, 0, 130) 0%, rgb(34, 34, 34) 100%);
}

/*NAV-----------------------------------------------------------------------------------------------------------------*/
/*Could make the navigation bar responsive (for smaller screens/browser windows)*/
nav{
    position: fixed;
    top: 0;
    line-height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 35px;
    z-index: 100; /*to make sure nav. is on top, allow hover effect*/
}

/*Align the content of navigation bar (Home...) to right*/
#alignRight{
    float: right;
    margin-right: 20px;
}

/*Style the content of navigation bar (Home...)*/
.menu{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    color: rgba(47, 0, 180, 0.74);
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
}

/*Change text colour when mouse on hover*/
.menu:hover{
    color: rgb(171, 252, 255);
}

/*Align my name to left*/
#alignLeft{
    float: left;
    margin-left: 10px;
}

/*Style for my name*/
#home{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    color: rgba(47, 0, 180, 0.74);
    font-size: 25px;
    font-weight: normal;
    margin-left: 20px;
}

#home:hover{
    color: rgb(171, 252, 255);
}

/*Change the text colour when on the current page*/
.currentPage{
    color: #d1c2ff;
}

/*A menu icon should be displayed when media screen gets smaller*/
#menuIcon{
    /*hide the menu icon by default*/
    display: none;
    margin: 10px 20px;
    float: right;
}

/*Three lines create the menu icon*/
.line1, .line2, .line3{
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 5px;
    transition: 0.3s ease-in;
}

/*Animate the icon when click on it*/
.animate .line1{
    transform: rotate(-45deg) translate(-4px, 6px);
}
.animate .line2{
    opacity: 0;
}
.animate .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}

/*Side menu: this will be shown when screen size gets smaller*/
#sideMenu{
    /*By default, it's not shown on screen*/
    display: none;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 100;
    margin: 0;
    top: 10vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.67);
    overflow-x: hidden;
    padding-top: 20px;
}

/*When media screen is smaller than 850px(width), the content in navbar will be replaced by a menu icon*/
@media screen and (max-width: 850px) {
    #sideMenu{
        display: block;
        /*The content in the menu icon will be hidden if the user haven't click the menu icon*/
        opacity: 0;
        transition: opacity 0.8s ease-in;
    }
    /*To show the menu icon when screen gets smaller*/
    #menuIcon{
        display: block;
        cursor: pointer ;
    }
    #alignRight{
        display: none;
    }
}

/*INDEX---------------------------------------------------------------------------------------------------------------*/
/*landing page title*/
#title{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    color: rgb(0, 206, 209);
    font-size: 36px;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: 2px;
    text-align: center;
}

#subTitle{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    color: rgb(0, 206, 209);
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}

/*landing page eggs----------------------*/
.ctrEgg{
    background-color: rgba(255, 255, 255, 0.03);
    width: 20%;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.landPgEgg{
    width: 100%;
    display: block;
    position: relative;
    vertical-align: bottom;
    padding: 20px;
    filter: invert(100%);
}

.landPgEgg:hover{
    box-shadow: 10px 10px 40px rgb(132, 87, 255);
    filter: invert(0%);
}

/*egg 1*/
#container1{
    position: absolute;
    left: 10%;
    top: 36%;
}

#container1:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
}

/*egg 2*/
#container2{
    position: absolute;
    left: 40%;
    top: 36%;
}

#container2:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
}

/*egg 3*/
#container3{
    position: absolute;
    left: 70%;
    top: 36%;
}

#container3:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
}

/*land page buttons*/
.landPgBtn{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    background: rgba(255, 239, 224, 0);
    box-shadow: 5px 5px 20px rgb(5, 5, 5);
    transition: background 0.5s;
}

button:last-child:hover{
    background: linear-gradient(90deg, rgb(153, 50, 204), rgb(0, 255, 234), rgb(138, 43, 226));
    background-size: 400%;
}
button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}
button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    box-shadow: 10px 10px 40px rgb(61, 30, 155);
    animation: glow 8s linear infinite;
}
button.headphone:hover{
    background: linear-gradient(90deg, rgb(153, 50, 204), rgb(0, 255, 234), rgb(138, 43, 226));
    background-size: 400%;
    animation: glow 8s linear infinite;
}
@keyframes glow {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 400%;
    }
}

/*Attribution: http://aleclownes.com/2017/02/01/crt-display.html*/
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 217, 255, 0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 217, 255, 0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 217, 255, 0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 217, 255, 0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    /*20% {*/
    /*    text-shadow: 3.4794037899852017px 0 1px rgba(0, 217, 255, 0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*25% {*/
    /*    text-shadow: 1.6125630401149584px 0 1px rgba(0, 217, 255, 0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*30% {*/
    /*    text-shadow: 0.7015590085143956px 0 1px rgba(0, 217, 255, 0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*35% {*/
    /*    text-shadow: 3.896914047650351px 0 1px rgba(0, 217, 255, 0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*40% {*/
    /*    text-shadow: 3.870905614848819px 0 1px rgba(0, 217, 255, 0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*45% {*/
    /*    text-shadow: 2.231056963361899px 0 1px rgba(0, 217, 255, 0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*50% {*/
    /*    text-shadow: 0.08084290417898504px 0 1px rgba(0, 217, 255, 0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*55% {*/
    /*    text-shadow: 2.3758461067427543px 0 1px rgba(0, 217, 255, 0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*60% {*/
    /*    text-shadow: 2.202193051050636px 0 1px rgba(0, 217, 255, 0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*65% {*/
    /*    text-shadow: 2.8638780614874975px 0 1px rgba(0, 217, 255, 0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*70% {*/
    /*    text-shadow: 0.48874025155497314px 0 1px rgba(0, 217, 255, 0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*75% {*/
    /*    text-shadow: 1.8948491305757957px 0 1px rgba(0, 217, 255, 0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*80% {*/
    /*    text-shadow: 0.0833037308038857px 0 1px rgba(0, 217, 255, 0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*85% {*/
    /*    text-shadow: 0.09769827255241735px 0 1px rgba(0, 217, 255, 0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 217, 255, 0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 217, 255, 0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 217, 255, 0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

.crt {
    animation: textShadow 3s infinite;
}
/*Attribution: http://aleclownes.com/2017/02/01/crt-display.html*/

/*landing page audio--------------------------------------*/
/*Play audio button styling*/
.headphone{
    position: fixed;
    overflow: hidden;
    z-index: 200;
    bottom: 0;
    /*left: 25%;*/
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 18vh;
    cursor: pointer;
    border-radius: 0 0 15px 15px;
}

/*Change button colour when mouse on hover*/
.headphone:hover{
    background-color: rgba(106, 75, 206, 0.04);
}

.scrollAudioText{
    width: 100dvw;
    position: relative;
    bottom: 5%;
    left: 0;
}

.audioText{
    position: relative;
    animation: scroll-text 20s linear infinite;
    /*margin: 1vh;*/
    font-family: "Gill Sans", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2;
    text-align: left;
    color: rgb(0, 206, 209);
}
.audioText:hover{
    color: #ff6ec7;
}
@keyframes scroll-text {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/*PROJECT 2A----------------------------------------------------------------------------------------------------------*/
iframe {
    volume: silent;
}

.selectedArtworks{
    margin: 5vh;
}

/*Create four columns for the grid of artworks-----------*/
.artworkRow{
    display: flex;
    flex-wrap: wrap;
}

.artworkCol{
    flex: 25%;
    max-width: 25%;
    padding: 6px;
}

/*When screen/browser window smaller than 1000px, change four columns to two columns*/
@media screen and (max-width: 1000px){
    .artworkCol{
        flex: 33%;
        max-width: 33%;
    }
}

.galleryImg{
    display: block;
    width: 100%;
    padding: 8px 2px;
    vertical-align: center;
    border-radius: 20px;
    /*when mouse not hover on image, image opacity 100%*/
    opacity: 1;
    transition: 0.8s ease;
}

#selectTag{
    margin: 16vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100%;
}

.selectTag{
    background: rgba(78, 56, 148, 0);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    color: #00ced1;
    text-shadow: 0 0 3px #00FFEAC1;
    font-size: 18px;
    cursor: pointer;
}

/*When hovers on the year button, the overline turn bolder*/
.selectTag:hover{
    text-decoration: overline solid #00ced1 2px;
    color: #ff6ec7;
}

.galleryTextTitle{
    font-size: 14px;
    color: #00ced1;
    padding: 0 5px;
    font-weight: bold;
}

.galleryText{
    font-size: 14px;
    font-weight: normal;
    color: #00ced1;
    padding: 0 5px;
}

.galleryTextLink{
    font-size: 14px;
    font-weight: normal;
    color: #00ced1;
    text-decoration: underline;
}

.galleryTextLink:hover{
    color: #ff6ec7;
}

/*BACK TO TOP BUTTON--------------*/
#backToTop{
    position: fixed;
    z-index: 150;
    bottom: 3vh;
    left: 3vw;
    padding: 10px 14px;
    background-color: rgba(0, 255, 234, 0.76);
    color: #ffc8e7;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.76);
}

#backToTop:hover {
    background-color: rgb(255, 110, 199);
    color: #00FFEAC1;
    box-shadow: 0 0 10px #ff6ec7;
}

footer{
    background: rgba(9, 2, 34, 0.25);
}

.footerContent{
    text-align: center;
}
