/*GLOBAL-------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
    /*to make the sizing of boxes more tidy*/
    box-sizing: border-box;
}

html{
    font-family: "Gill Sans", Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    font-family: Optima, Constantia, Helvetica, sans-serif;
    font-size: 40px;
    color: #222222;
}

p{
    font-family: "Avenir Next", Helvetica, sans-serif;
    font-size: 16px;
    color: #222222;
    line-height: 1.6;
    cursor: default;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #222222;
}

body{
    background: radial-gradient(circle,
    rgb(255, 252, 243) 0%, rgb(255, 246, 232) 100%);
}

#landPgFrame{
    position: fixed;
    display: block;
    width: 100%;
}

/*landing page title*/
#title{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}

#subTitle{
    font-family: "Prestige Elite", "American Typewriter", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
}

/*landing page eggs--------------------------------------------------------------------------------------------------*/
.ctrEgg{
    background-color: rgba(255, 255, 255, 0.03);
    width: 20%;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.landPgEgg{
    width: 100%;
    display: block;
    position: relative;
    vertical-align: bottom;
    padding: 5px;
}

.landPgEgg:hover{
    box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.73);
    cursor: pointer;
}

/*egg 1*/
#container1{
    position: absolute;
    left: 10%;
    top: 32%;
}

#container1:hover{
    box-shadow: 10px 10px 10px rgba(255, 2, 2, 0.4);
}

/*egg 2*/
#container2{
    position: absolute;
    left: 40%;
    top: 32%;
}

#container2:hover{
    box-shadow: 10px 10px 10px rgba(255, 213, 2, 0.4);
}

/*egg 3*/
#container3{
    position: absolute;
    left: 70%;
    top: 32%;
}

#container3:hover{
    box-shadow: 10px 10px 10px rgba(255, 2, 2, 0.4);
}

/*land page buttons*/
.landPgBtn{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    background: rgba(255, 239, 224, 0);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: background 0.5s;
}

button:last-child:hover{
    background: linear-gradient(90deg, rgba(250, 113, 153, 0.13), rgba(245, 206, 98, 0.11),
    rgba(228, 54, 3, 0.1), rgba(250, 113, 153, 0.09));
    background-size: 400%;
}
button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}
button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    box-shadow: 10px 10px 40px rgba(93, 75, 75, 0.45);
    animation: glow 8s linear infinite;
}
@keyframes glow {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 400%;
    }
}

/*Attribution: http://aleclownes.com/2017/02/01/crt-display.html*/
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    /*15% {*/
    /*    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*20% {*/
    /*    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    /*50% {*/
    /*    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*55% {*/
    /*    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*60% {*/
    /*    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*65% {*/
    /*    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*70% {*/
    /*    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*75% {*/
    /*    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*80% {*/
    /*    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*85% {*/
    /*    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(208, 200, 180, 0.12);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 1s infinite;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(171, 148, 148, 0.05) 50%, rgba(105, 90, 90, 0.15) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.07), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.07));
    z-index: 2;
    background-size: 100% 3px, 4px 100%;
    pointer-events: none;
}
.crt {
    animation: textShadow 3s infinite;
}
/*Attribution: http://aleclownes.com/2017/02/01/crt-display.html*/

/*landing page audio--------------------------------------------------------------------------------------------------*/

/*Play audio button styling*/
#headphone{
    position: absolute;
    z-index: 200;
    bottom: 10%;
    left: 38%;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 15px;
}

/*Change button colour when mouse on hover*/
#headphone:hover{
    background-color: rgba(106, 75, 206, 0.04);
}


